@import 'theme';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
  
.heading-s {
    font-size: 30px;
    line-height: 38px;
}

.text-l {
    font-size: 18px;
    line-height: 28px;
}

.text-m {
    font-size: 16px;
    line-height: 24px;
}

.text-s {
    font-size: 14px;
    line-height: 20px;
}

.text-xs {
    font-size: 12px;
    line-height: 16px;
}

.cursor-pointer {
    cursor: pointer;
}

.board-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}