$theme-colors: (
  'primary': #0666eb,
  'danger': #f34141,
  'success': #53b483,
);

$custom-colors: (
  'white': #ffffff,

  'gray100': #f6f7f9,
  'gray500': #676e76,
  'gray600': #596066,

  'error600': #f34141,

  'success600': #53b483
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import 'node_modules/bootstrap/scss/bootstrap';
